/* General Reset */
body, h1, p, ul, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #222222, #00f2fe);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header and Navigation */
header {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00c6ff;
}

/* Main Section */
main {
    flex: 1;
    justify-content: center;
    align-items: center;
}

section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

button {
    background: #4facfe;
    color: #fff;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00c6ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
    bottom: 1px;
}

#yo {
    position: absolute;
    top: 400px;
    font-size: x-large;
    font-family: "Times New Roman";
}
#header{
    top: 400px;
    position: page;
}

p {
    font-size: 1rem;
    text-align: center;
}

